 /* code form authentification*/
#form{
    border: solid 2px #57b846;
    border-radius: 20px;
    margin-top: 2%;
    padding: 0%;
    margin: auto;
    padding-bottom: 3%;
}
#form1{
    margin: auto;
    /*border: solid 3px #57b846;*/
}
#ajout{
    border: solid none;
    background-color: #ebebeb;
    border-radius: 10px; 
    padding: 3%;
}
#legend{
    background-color: #57b846;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5%;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    font-weight: bolder;    
}
#legend legend{
    font-size: 30px;
}
#login{
    margin-left: 15%;
    width: 90%;
}
#password{
    margin-left: 15%;
    width: 90%;
}
#write{
    border: solid none;
    background-color: #ebebeb;
    border-radius: 25px; 
    padding: 5%;
    color: #1b3815;
}
#send{
    margin-left: 35%;
    padding: 5px;
}
.pull-right{
    background-color: #57b846;
    border-radius: 20px;
    color: #ffffff;
    margin-top: 2%;
    text-align: center;
    width: 40%;
    height: 50px;
}
.pull-right:hover{
    background-color: #1b3815;
} 
.pull-right p{
    font-weight: bolder;
    padding: 5px;
    font-size: 18px;
}
@media screen and (max-width: 768px){
#login{
    margin-left: 5%;
}
#password{
    margin-left: 5%;
}
#form{
    margin-left: 0%;
}
}
/* code tableau*/
.table1{
    margin: auto;
    text-align: center;
   /* border: 1px solid;*/
    width: 95%;
}
th{
    padding: 1%;
    background-color: #1b3815;
    color: #ffffff;
}
td{
    padding: 1%;
}
/* code ajout*/
.ajout{
    margin: auto;
}
/* Titre de nos différents title menu*/
.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin-left: 15px;
    text-align: center;
    color: #1b3815
}
/* debut code menu */
nav{
    width: 100%;
    display: block;
    background-color: #57b846;
    margin-top: 0%;
    margin-bottom: 1%;
}
nav li{
    list-style-type: none;
    margin-left: 0%;
    text-align: center;
}
nav ul li{
    text-align: center;
    font-style: normal;
    padding: 0px;
    margin: 0px;
}
nav ul li a{
    float: left;
    font-size: 20px;
    width: 15%;
    text-align:center;
    position: relative;
    color: #ffffff;
    background-color: #57b846;
    border: solid #57b846 1px;
    font-weight: bolder;
    border-radius: 5px; 
    padding: 10px;
    margin: 5px;
}
nav ul li a:hover{
    background-color:#1b3815;
    border: solid #1b3815 1px;
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
}
/* fin code menu*/ 

/* partie responsive du menu*/
nav input[type=checkbox]{
    display: none;
}
nav label{
    display: none;
}
nav input[type=checkbox]:checked ~ ul
{
    display: block;
}

@media screen and (max-width: 668px){
.menu{
    font-size: 22px;
    display: block;
    color: #ffffff;
    font-weight: bolder;
    background-color: #57b846;
    border-radius: 5px; 
    text-align: center;
    padding: 12px 0px;
}
nav{
    margin-left: 1%;
}

nav ul{
    display: none;
    margin-left:  -10%;
}
nav ul li, nav ul li a{
    font-size: 22px;
    width: 100%;
    text-align: center;
}
nav ul li a, nav ul li:hover a{
    text-align: center;
    padding: 2% 0.5%;
    color: #ffffff;
    font-weight:bolder; 
    border: none solid 1px;
}
} 
 .rouge{
     background-color: red;
 }
/* fin menu responsive */

  